_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
node_modules/
vendor
_pages/about copy.md
_projects/oneproject.md.bk.md
_projects/oneproject.v1.md.bk.md
_projects/twoproject.md.bk.md
_projects/oneproject.md.bk
_pages/repositories.md.bk
_pages/profiles.md.bk
_pages/publications.md.bk
_pages/news.md.bk
_pages/about_einstein.md.bk
_pages/teaching.md.bk
_pages/dropdown.md.bk.md
_pages/blog.md.bk
_pages/cv.md.bk
